<h1>Kmart / Sears Store Closures<br>Announced 01/04/2017</h1>
<table border="1" width="100%">
<tr><th>Format</th><th>Address</th><th>City</th><th>State</th></tr>

<tr><td>Kmart</td><td> 3600 Wilson Road</td><td> Bakersfield</td><td> CA</td></tr>
<tr><td>Kmart</td><td> 25 West Polk Street</td><td> Coalinga</td><td> CA</td></tr>
<tr><td>Kmart</td><td> 333 Sierra Street</td><td> Kingsburg</td><td> CA</td></tr>
<tr><td>Kmart</td><td> 363 S Broadway</td><td> Denver</td><td> CO</td></tr>
<tr><td>Kmart</td><td> 2809 North Ave</td><td> Grand Junction</td><td> CO</td></tr>
<tr><td>Kmart</td><td> 45 Shunpike Road</td><td> Cromwell</td><td> CT</td></tr>
<tr><td>Sears</td><td> Albany Mall</td><td> Albany</td><td> GA</td></tr>
<tr><td>Kmart</td><td> 3200 Macon Road</td><td> Columbus</td><td> GA</td></tr>
<tr><td>Sears</td><td> 5555 Whittlesey Blvd</td><td> Columbus</td><td> GA</td></tr>
<tr><td>Kmart</td><td> 365 Habersham Village</td><td> Circle Cornelia</td><td> GA</td></tr>
<tr><td>Kmart</td><td> 1601 Highway 40 East</td><td> Kingsland</td><td> GA</td></tr>
<tr><td>Kmart</td><td> 2600 Dodge Street</td><td> Dubuque</td><td> IA</td></tr>
<tr><td>Kmart</td><td> 5700 Gordon Drive</td><td> Sioux City</td><td> IA</td></tr>
<tr><td>Kmart</td><td> 3810 University Avenue</td><td> Waterloo</td><td> IA</td></tr>
<tr><td>Kmart</td><td> 2851 Belt Line Parkway</td><td> Alton</td><td> IL</td></tr>
<tr><td>Kmart</td><td> 3655 Nameoki Road</td><td> Granite City</td><td> IL</td></tr>
<tr><td>Kmart</td><td> 750 Indian Boundary Road</td><td> Chesterton</td><td> IN</td></tr>
<tr><td>Sears</td><td> 1235 S Reed Road</td><td> Kokomo</td><td> IN</td></tr>
<tr><td>Kmart</td><td> 1460 West State Road 2</td><td> La Porte</td><td> IN</td></tr>
<tr><td>Kmart</td><td> 4820 S 4th St Trafficway</td><td> Leavenworth</td><td> KS</td></tr>
<tr><td>Sears</td><td> 2259 S 9th St</td><td> Salina</td><td> KS</td></tr>
<tr><td>Kmart</td><td> 4200 W Kellogg Dr</td><td> Wichita</td><td> KS</td></tr>
<tr><td>Sears</td><td> 9001 Cortana Mall</td><td> Baton Rouge</td><td> LA</td></tr>
<tr><td>Kmart</td><td> 115 South Airline Hwy</td><td> Gonzales</td><td> LA</td></tr>
<tr><td>Sears</td><td> 197 Westbank Expressway</td><td> Gretna</td><td> LA</td></tr>
<tr><td>Kmart</td><td> 1400 S Clearview Parkway</td><td> New Orleans</td><td> LA</td></tr>
<tr><td>Kmart</td><td> 29600 Ford Road</td><td> Garden City</td><td> MI</td></tr>
<tr><td>Sears</td><td> 3099 28th St SE</td><td> Grand Rapids</td><td> MI</td></tr>
<tr><td>Kmart</td><td> 3555 O'Neill Drive</td><td> Jackson</td><td> MI</td></tr>
<tr><td>Kmart</td><td> 1416 South Main Street</td><td> Adrian</td><td> MI</td></tr>
<tr><td>Kmart</td><td> 5400 S Cedar Street</td><td> Lansing</td><td> MI</td></tr>
<tr><td>Kmart</td><td> 1501 E Apple Ave</td><td> Muskegon</td><td> MI</td></tr>
<tr><td>Kmart</td><td> 40855 Ann Arbor Road</td><td> Plymouth</td><td> MI</td></tr>
<tr><td>Kmart</td><td> 17580 Frazho Road</td><td> Roseville</td><td> MI</td></tr>
<tr><td>Kmart</td><td> 3541 Highland Road</td><td> Waterford</td><td> MI</td></tr>
<tr><td>Kmart</td><td> 165 Wayne Road</td><td> Westland</td><td> MI</td></tr>
<tr><td>Kmart</td><td> 6455 US 31 N</td><td> Acme Township</td><td> MI</td></tr>
<tr><td>Sears</td><td> 12737 Riverdale Blvd NW</td><td> Coon Rapids</td><td> MN</td></tr>
<tr><td>Kmart</td><td> 1305 Highway 10 West</td><td> Detroit Lakes</td><td> MN</td></tr>
<tr><td>Sears</td><td> 1850 Adams St</td><td> Mankato</td><td> MN</td></tr>
<tr><td>Kmart</td><td> 1477 State Highway 248</td><td>Branson</td><td> MO</td></tr>
<tr><td>Sears</td><td> 3600 Country Club Dr</td><td> Jefferson City</td><td> MO</td></tr>
<tr><td>Kmart</td><td> 2304 Missouri Blvd</td><td> Jefferson City</td><td> MO</td></tr>
<tr><td>Kmart</td><td> 1003 S Bishop Ave</td><td> Rolla</td><td> MO</td></tr>
<tr><td>Sears</td><td> 3702 Frederick Ave</td><td> Saint Joseph</td><td> MO</td></tr>
<tr><td>Kmart</td><td> 3101 S Glenstone Ave</td><td> Springfield</td><td> MO</td></tr>
<tr><td>Kmart</td><td> 6650 Manchester Ave</td><td> St Louis</td><td> MO</td></tr>
<tr><td>Kmart</td><td> 545 US Hwy 29</td><td> North Concord</td><td> NC</td></tr>
<tr><td>Kmart</td><td> 1931 Skibo Road</td><td> Fayetteville</td><td> NC</td></tr>
<tr><td>Kmart</td><td> 201 N Berkeley Blvd</td><td> Goldsboro</td><td> NC</td></tr>
<tr><td>Kmart</td><td> 102 New Market</td><td> Madison</td><td> NC</td></tr>
<tr><td>Kmart</td><td> 815 S College Road</td><td> Wilmington</td><td> NC</td></tr>
<tr><td>Sears</td><td> 3902 13th Ave</td><td> South Fargo</td><td> ND</td></tr>
<tr><td>Kmart</td><td> 1468 Clementon Road</td><td> Clementon</td><td> NJ</td></tr>
<tr><td>Kmart</td><td> 645 Highway 18</td><td> East Brunswick</td><td> NJ</td></tr>
<tr><td>Kmart</td><td> 800 Black Horse Pike</td><td> Pleasantville</td><td> NJ</td></tr>
<tr><td>Kmart</td><td> Rte 9 & Rte 47</td><td> Rio Grande</td><td> NJ</td></tr>
<tr><td>Sears</td><td> 1000 S Main St</td><td> Roswell</td><td> NM</td></tr>
<tr><td>Kmart</td><td> 10405 S Eastern Ave</td><td> Henderson</td><td> NV</td></tr>
<tr><td>Sears</td><td> 2000 Brittain Road</td><td> Akron</td><td> OH</td></tr>
<tr><td>Kmart</td><td> 1500 Coshocton Ave</td><td> Mount Vernon</td><td> OH</td></tr>
<tr><td>Kmart</td><td> 185 Upper River Road</td><td> Gallipolis</td><td> OH</td></tr>
<tr><td>Kmart</td><td> 1005 East Columbus St</td><td> Kenton</td><td> OH</td></tr>
<tr><td>Sears</td><td> 1701 River Valley Circle S</td><td> Lancaster</td><td> OH</td></tr>
<tr><td>Kmart</td><td> 225 West Avenue</td><td> New Boston</td><td> OH</td></tr>
<tr><td>Kmart</td><td> 1284 Brice Road</td><td> Reynoldsburg</td><td> OH</td></tr>
<tr><td>Sears</td><td> Richmond Mall</td><td> Richmond Heights</td><td> OH</td></tr>
<tr><td>Sears</td><td> 1075 N Bridge St</td><td> Chillicothe</td><td> OH</td></tr>
<tr><td>Kmart</td><td> I-70 & Mall Road St</td><td> Clairsville</td><td> OH</td></tr>
<tr><td>Kmart</td><td> 3515 N Maple Avenue</td><td> Zanesville</td><td> OH</td></tr>
<tr><td>Sears</td><td> 428 SW C Ave</td><td> Lawton</td><td> OK</td></tr>
<tr><td>Kmart</td><td> 4 East Shawnee St</td><td> Muskogee</td><td> OK</td></tr>
<tr><td>Sears</td><td> 3595 Capital City Mall</td><td> Camp Hill</td><td> PA</td></tr>
<tr><td>Kmart</td><td> 5820 Shaffer Road</td><td> Dubois</td><td> PA</td></tr>
<tr><td>Kmart</td><td> 1320 E Grandview Blvd</td><td> Erie</td><td> PA</td></tr>
<tr><td>Kmart</td><td> 1890 Fruitville Pike</td><td> Lancaster</td><td> PA</td></tr>
<tr><td>Kmart</td><td> 5600 Carlisle Pike US 11</td><td> Mechanicsburg</td><td> PA</td></tr>
<tr><td>Kmart</td><td> 120 Mall Blvd</td><td> Monroeville</td><td> PA</td></tr>
<tr><td>Kmart</td><td> 100 Cross Roads Plz</td><td> Mt. Pleasant</td><td> PA</td></tr>
<tr><td>Sears</td><td> 1 Susquehanna Valley Mall Dr</td><td> Selinsgrove</td><td> PA</td></tr>
<tr><td>Sears</td><td> 1500 Mall Run Road</td><td> Uniontown</td><td> PA</td></tr>
<tr><td>Sears</td><td> 1500 Diamond Hill Road</td><td> Woonsocket</td><td> RI</td></tr>
<tr><td>Kmart</td><td> 3801 B Clemson Blvd</td><td> Anderson</td><td> SC</td></tr>
<tr><td>Sears</td><td> 2701 David H Mcleod Blvd</td><td> Florence</td><td> SC</td></tr>
<tr><td>Kmart</td><td> 254 Highway 72 By-Pass</td><td> Greenwood</td><td> SC</td></tr>
<tr><td>Kmart</td><td> 8571 Rivers Avenue</td><td> North Charleston</td><td> SC</td></tr>
<tr><td>Kmart</td><td> 3020 W 12th St</td><td> Sioux Falls</td><td> SD</td></tr>
<tr><td>Sears</td><td> 2101 Fort Henry Dr</td><td> Kingsport</td><td> TN</td></tr>
<tr><td>Kmart</td><td> 305 W Economy Road</td><td> Morristown</td><td> TN</td></tr>
<tr><td>Kmart</td><td> 1120 Mc Rae Blvd</td><td> El Paso</td><td> TX</td></tr>
<tr><td>Kmart</td><td> 9484 Dyer St</td><td> El Paso</td><td> TX</td></tr>
<tr><td>Kmart</td><td> 1101 Fort Hood Street</td><td> Killeen</td><td> TX</td></tr>
<tr><td>Kmart</td><td> 3061 S John Redditt Dr</td><td> Lufkin</td><td> TX</td></tr>
<tr><td>Sears</td><td> 4101 E 42nd St</td><td> Odessa</td><td> TX</td></tr>
<tr><td>Kmart</td><td> 1153 W Highway 40</td><td> Vernal</td><td> UT</td></tr>
<tr><td>Kmart</td><td> 2010 N Main St</td><td> Layton</td><td> UT</td></tr>
<tr><td>Sears</td><td> 500 Gate City Hwy</td><td> Bristol</td><td> VA</td></tr>
<tr><td>Kmart</td><td> 1419 Hershberger Road NW</td><td> Roanoke</td><td> VA</td></tr>
<tr><td>Kmart</td><td> 3655 Plank Road</td><td> Fredericksburg</td><td> VA</td></tr>
<tr><td>Kmart</td><td> 6101 N Military Hwy</td><td> Norfolk</td><td> VA</td></tr>
<tr><td>Kmart</td><td> 1355 West Main Street</td><td> Salem</td><td> VA</td></tr>
<tr><td>Kmart</td><td> 1425 E Highway 151</td><td> Platteville</td><td> WI</td></tr>
<tr><td>Kmart</td><td> 2211 S Green Bay Road</td><td> Racine</td><td> WI</td></tr>
<tr><td>Kmart</td><td> 1840 Dell Range Blvd</td><td> Cheyenne</td><td> WY</td></tr>
</table>
