<h1>Kmart / Sears Store Closures<br>Announced 11/07/2019</h1>
<table border="1" width="100%">
<tr><th>Format</th><th>Address</th><th>City</th><th>State</th></tr>

<tr><td>Sears</td><td> 3930 Mccain Blvd N</td><td> Little Rock</td><td> AR</td></tr>
<tr><td>Kmart</td><td> 1870 Mcculloch Blvd</td><td> Lake Havasu City</td><td> AZ</td></tr>
<tr><td>Sears</td><td> 3400 Gateway Blvd</td><td> Prescott</td><td> AZ</td></tr>
<tr><td>Kmart</td><td> 2155 Pillsbury Rd</td><td> Chico</td><td> CA</td></tr>
<tr><td>Kmart</td><td> 261 N Mc Dowell Blvd</td><td> Petaluma</td><td> CA</td></tr>
<tr><td>Kmart</td><td> 491 Tres Pinos Road</td><td> Hollister</td><td> CA</td></tr>
<tr><td>Kmart</td><td> 5100 Clayton Road</td><td> Concord</td><td> CA</td></tr>
<tr><td>Kmart</td><td> 7840 Limonite Ave</td><td> Riverside</td><td> CA</td></tr>
<tr><td>Kmart</td><td> 3980 El Camino Real</td><td> Atascadero</td><td> CA</td></tr>
<tr><td>Kmart</td><td> 895 Faulkner Road</td><td> Santa Paula</td><td> CA</td></tr>
<tr><td>Kmart</td><td> 1200 N Main Street</td><td> Bishop</td><td> CA</td></tr>
<tr><td>Kmart</td><td> 270 Mt Hermon Road</td><td> Scotts Valley</td><td> CA</td></tr>
<tr><td>Sears</td><td> 3755 Santa Rosalia Dr</td><td> Los Angeles</td><td> CA</td></tr>
<tr><td>Sears</td><td> 40710 Winchester Rd</td><td> Temecula</td><td> CA</td></tr>
<tr><td>Sears</td><td> 3295 E Main St</td><td> Ventura</td><td> CA</td></tr>
<tr><td>Sears</td><td>12121 Victory Blvd</td><td> N Hollywood</td><td> CA</td></tr>
<tr><td>Sears</td><td> 1209 Plz Dr</td><td> West Covina</td><td> CA</td></tr>
<tr><td>Sears</td><td> 3636 N Blackstone Ave</td><td> Fresno</td><td> CA</td></tr>
<tr><td>Sears</td><td> 8150 La Palma Ave</td><td> Buena Park</td><td> CA</td></tr>
<tr><td>Sears</td><td> 5261 Arlington Ave</td><td> Riverside</td><td> CA</td></tr>
<tr><td>Sears</td><td> 565 Broadway</td><td> Chula Vista</td><td> CA</td></tr>
<tr><td>Sears</td><td> 100 Inland Ctr Sn</td><td> Bernardino</td><td> CA</td></tr>
<tr><td>Sears</td><td> 1178 El Camino Real</td><td> San Bruno</td><td> CA</td></tr>
<tr><td>Sears</td><td> 2180 Tully Rd</td><td> San Jose</td><td> CA</td></tr>
<tr><td>Sears</td><td> 5080 Montclair Plz Ln</td><td> Montclair</td><td> CA</td></tr>
<tr><td>Sears</td><td> 22550 Town Circle</td><td> Moreno Valley</td><td> CA</td></tr>
<tr><td>Sears</td><td> 72-880 Hwy 111</td><td> Palm Desert</td><td> CA</td></tr>
<tr><td>Sears</td><td> 3350 Naglee Rd</td><td> Tracy</td><td> CA</td></tr>
<tr><td>Sears</td><td> 3501 S Mooney Blvd</td><td> Visalia</td><td> CA</td></tr>
<tr><td>Sears</td><td> 200 Town Ctr E</td><td> Santa Maria</td><td> CA</td></tr>
<tr><td>Sears</td><td> 14420 Bear Valley Rd</td><td> Victorville</td><td> CA</td></tr>
<tr><td>Kmart</td><td> 19563 Coastal Hwy</td><td> Rehoboth Beach</td><td> DE</td></tr>
<tr><td>Kmart</td><td> 1201 S Dixie Hwy</td><td> Lantana</td><td> FL</td></tr>
<tr><td>Kmart</td><td> 3800 Oakwood Blvd</td><td> Hollywood</td><td> FL</td></tr>
<tr><td>Kmart</td><td> 7350 Manatee Ave</td><td> West Bradenton</td><td> FL</td></tr>
<tr><td>Sears</td><td> 1625 W 49th St</td><td> Hialeah</td><td> FL</td></tr>
<tr><td>Sears</td><td> 20701 Sw 112th Ave</td><td> Miami</td><td> FL</td></tr>
<tr><td>Sears</td><td> 4125 Cleveland Ave</td><td> Ft Myers</td><td> FL</td></tr>
<tr><td>Sears</td><td> 6580 Douglas Blvd</td><td> Douglasville</td><td> GA</td></tr>
<tr><td>Kmart</td><td> 1405 S Grand</td><td> Charles City</td><td> IA</td></tr>
<tr><td>Kmart</td><td> 1501 Hwy 169 N</td><td> Algona</td><td> IA</td></tr>
<tr><td>Sears</td><td> 2200 W War Memorial Dr</td><td> Peoria</td><td> IL</td></tr>
<tr><td>Sears</td><td> 5000 Spring Hill Mall</td><td> West Dundee</td><td> IL</td></tr>
<tr><td>Kmart</td><td> 484 Boston Rd</td><td> Billerica</td><td> MA</td></tr>
<tr><td>Kmart</td><td> 252 Main St</td><td> Acton</td><td> MA</td></tr>
<tr><td>Sears</td><td> 100 Commercial Rd</td><td> Leominster</td><td> MA</td></tr>
<tr><td>Sears</td><td> 385 Southbridge St</td><td> Auburn</td><td> MA</td></tr>
<tr><td>Kmart</td><td> 1003 W Patrick St</td><td> Frederick</td><td> MD</td></tr>
<tr><td>Kmart</td><td> 1713 Massey Blvd</td><td> Hagerstown</td><td> MD</td></tr>
<tr><td>Kmart</td><td> 6411 Riggs Road</td><td> Hyattsville</td><td> MD</td></tr>
<tr><td>Sears</td><td> 1262 Vocke Rd</td><td> Cumberland</td><td> MD</td></tr>
<tr><td>Kmart</td><td> 5100 Dixie Hwy</td><td> Waterford</td><td> MI</td></tr>
<tr><td>Sears</td><td> 3131 E Michigan Ave</td><td> Lansing</td><td> MI</td></tr>
<tr><td>Sears</td><td> 101 N Rangeline Rd</td><td> Joplin</td><td> MO</td></tr>
<tr><td>Sears</td><td> 3600 South Memorial Drive</td><td> Greenville</td><td> NC</td></tr>
<tr><td>Kmart</td><td> 2625 State St</td><td> Bismarck</td><td> ND</td></tr>
<tr><td>Kmart</td><td> 1267 Hooksett Rd</td><td> Hooksett</td><td> NH</td></tr>
<tr><td>Kmart</td><td> 161 S Broadway</td><td> Salem</td><td> NH</td></tr>
<tr><td>Sears</td><td> 310 Daniel Webster Hwy</td><td> Nashua</td><td> NH</td></tr>
<tr><td>Sears</td><td> 270 Loudon Rd</td><td> Concord</td><td> NH</td></tr>
<tr><td>Kmart</td><td> 235 Prospect Avenue</td><td>West Orange</td><td> NJ</td></tr>
<tr><td>Sears</td><td> 4601 E Main St</td><td> Farmington</td><td> NM</td></tr>
<tr><td>Sears</td><td> 4000 Meadow Ln</td><td> Las Vegas</td><td> NV</td></tr>
<tr><td>Kmart</td><td> 5151 Sunrise Highway</td><td> Bohemia</td><td> NY</td></tr>
<tr><td>Kmart</td><td> 171 Delaware Avenue</td><td> Sidney</td><td> NY</td></tr>
<tr><td>Sears</td><td> S 3701 Mckinley Pkwy</td><td> Buffalo</td><td> NY</td></tr>
<tr><td>Kmart</td><td> 555 South Ave</td><td> Tallmadge</td><td> OH</td></tr>
<tr><td>Kmart</td><td> 1447 N Main St</td><td> North Canton</td><td> OH</td></tr>
<tr><td>Kmart</td><td> 502 Pike Street</td><td> Marietta</td><td> OH</td></tr>
<tr><td>Kmart</td><td> 2640 West 6th Street</td><td> The Dalles</td><td> OR</td></tr>
<tr><td>Kmart</td><td> 910 Wilkes Barre Twp Blvd</td><td> Wilkes Barre</td><td> PA</td></tr>
<tr><td>Kmart</td><td> 1915 E Third St</td><td> Williamsport</td><td> PA</td></tr>
<tr><td>Kmart</td><td> 1745 Quentin Road</td><td> Lebanon</td><td> PA</td></tr>
<tr><td>Kmart</td><td> 1520 W Front St</td><td> Berwick</td><td> PA</td></tr>
<tr><td>Kmart</td><td> 1127 S State St</td><td> Ephrata</td><td> PA</td></tr>
<tr><td>Sears</td><td> 1259 Whitehall Mall</td><td> Whitehall</td><td> PA</td></tr>
<tr><td>Sears</td><td> 600 Montgomery Mall</td><td> North Wales</td><td> PA</td></tr>
<tr><td>Kmart</td><td> Road #149 And #584 Plaza Juana Diaz</td><td> Juana Diaz</td><td> PR</td></tr>
<tr><td>Kmart</td><td> 1400 Ave Miramar Ste 18</td><td> Arecibo</td><td> PR</td></tr>
<tr><td>Kmart</td><td> Plaza Rio Hondo Ste 4080</td><td> Bayamon</td><td> PR</td></tr>
<tr><td>Kmart</td><td> Centro Gran Caribe Rd #2</td><td>Vega Alta</td><td> PR</td></tr>
<tr><td>Kmart</td><td> Eastern Shopping Ctr S.r. 3</td><td> Fajardo</td><td> PR</td></tr>
<tr><td>Sears</td><td> Ponce By Pass Ste 135</td><td> Ponce</td><td> PR</td></tr>
<tr><td>Sears</td><td> State Rd 3</td><td> Fajardo</td><td> PR</td></tr>
<tr><td>Sears</td><td> Gpo Box 1050</td><td> Guayama</td><td> PR</td></tr>
<tr><td>Sears</td><td> 2310 Sw Military Dr</td><td> San Antonio</td><td> TX</td></tr>
<tr><td>Sears</td><td> 11500 Midlothian Tpke</td><td> Richmond</td><td> VA</td></tr>
<tr><td>Sears</td><td> 8200 Sudley Rd</td><td> Manassas</td><td> VA</td></tr>
<tr><td>Sears</td><td> 100 Spotsylvania Mall</td><td> Fredericksburg</td><td> VA</td></tr>
<tr><td>Sears</td><td> 1850 Apple Blossom Dr</td><td> Winchester</td><td> VA</td></tr>
<tr><td>Sears</td><td> 155 Dorset St</td><td> S Burlington</td><td> VT</td></tr>
<tr><td>Sears</td><td> 14720 E Indiana Ave</td><td> Spokane</td><td> WA</td></tr>
<tr><td>Sears</td><td> 651 Sleater Kinney Rd</td><td> Lacey</td><td> WA</td></tr>
<tr><td>Kmart</td><td> 4100 52nd St</td><td> Kenosha</td><td> WI</td></tr>
<tr><td>Kmart</td><td> 6531 Mccorkle Avenue Se</td><td> Charleston</td><td> WV</td></tr>
<tr><td>Kmart</td><td> PO Box 9060 - 510 Us Hwy 89</td><td> Jackson</td><td> WY</td></tr>

</table>
