<h1>Kmart / Sears Store Closures<br>Announced 12/27/2016</h1>
<table border="1" width="100%">
<tr><th>Format</th><th>Address</th><th>City</th><th>State</th></tr>

<tr><td>Sears</td><td> 301 Cox Creek Pkwy</td><td> Florence</td><td> AL</td></tr>
<tr><td>Kmart</td><td> 300 Highway 78 E</td><td> Jasper</td><td> AL</td></tr>
<tr><td>Kmart</td><td> 2003 US Hwy 280 Bypass</td><td> Phenix City</td><td> AL</td></tr>
<tr><td>Sears</td><td> 1901 S Caraway Road</td><td> Jonesboro</td><td> AR</td></tr>
<tr><td>Kmart</td><td> 3001 Iowa Avenue</td><td> Riverside</td><td> CA</td></tr>
<tr><td>Sears</td><td> 90 Elm St; Enfield Sq</td><td> Enfield</td><td> CT</td></tr>
<tr><td>Kmart</td><td> 501 N Beneva Road</td><td> Sarasota</td><td> FL</td></tr>
<tr><td>Kmart</td><td> 1801 Northwest Hwy 19</td><td> Crystal River</td><td> FL</td></tr>
<tr><td>Kmart</td><td> 15271 Mcgregor Blvd</td><td> Fort Myers</td><td> FL</td></tr>
<tr><td>Kmart</td><td> 2111 S Federal Hwy</td><td> Fort Pierce</td><td> FL</td></tr>
<tr><td>Kmart</td><td> 1501 Normandy Village</td><td> Jacksonville</td><td> FL</td></tr>
<tr><td>Kmart</td><td> 2211 W Irlo Bronson Hwy</td><td> Kissimmee</td><td> FL</td></tr>
<tr><td>Sears</td><td> 301 Eagle Ridge Dr</td><td> Lake Wales</td><td> FL</td></tr>
<tr><td>Kmart</td><td> 19400 Cochran Blvd</td><td> Port Charlotte</td><td> FL</td></tr>
<tr><td>Kmart</td><td> 4955 Golden Gate Parkway</td><td> Naples</td><td> FL</td></tr>
<tr><td>Kmart</td><td> 111 Town & Country Drive</td><td> Palatka</td><td> FL</td></tr>
<tr><td>Kmart</td><td> 33 W Montgomery Cross Road</td><td> Savannah</td><td> GA</td></tr>
<tr><td>Kmart</td><td> 4561 Salt Lake Blvd</td><td> Halawa</td><td> HI</td></tr>
<tr><td>Kmart</td><td> 191 Outer Loop Road</td><td> Louisville</td><td> KY</td></tr>
<tr><td>Kmart</td><td> 2945 Scottsville Road</td><td> Bowling Green</td><td> KY</td></tr>
<tr><td>Kmart</td><td> 14662 N US Highway 25</td><td> East Corbin</td><td> KY</td></tr>
<tr><td>Kmart</td><td> 1501 Paris Pike</td><td> Georgetown</td><td> KY</td></tr>
<tr><td>Kmart</td><td> 3010 Fort Campbell Blvd</td><td> Hopkinsville</td><td> KY</td></tr>
<tr><td>Kmart</td><td> 1710 West Highway 192</td><td> London</td><td> KY</td></tr>
<tr><td>Kmart</td><td> 2815 West Parrish Avenue</td><td> Owensboro</td><td> KY</td></tr>
<tr><td>Sears</td><td> 5101 Hinkleville Road</td><td> Paducah</td><td> KY</td></tr>
<tr><td>Kmart</td><td> 9 Plaza Way</td><td> Fairhaven</td><td> MA</td></tr>
<tr><td>Kmart</td><td> 1130 Newport Avenue</td><td> South Attleboro</td><td> MA</td></tr>
<tr><td>Sears</td><td> 262 Swansea Mall Drive</td><td> Swansea</td><td> MA</td></tr>
<tr><td>Kmart</td><td> 222 N Point Blvd</td><td> Baltimore</td><td> MD</td></tr>
<tr><td>Sears</td><td> 10 Whitten Road</td><td> Augusta</td><td> ME</td></tr>
<tr><td>Kmart</td><td> 688 Hogan Road</td><td> Bangor</td><td> ME</td></tr>
<tr><td>Sears</td><td> 1261 Niagara Falls Blvd</td><td> Amherst</td><td> NY</td></tr>
<tr><td>Sears</td><td> 2000 Walden Ave</td><td> Cheektowaga</td><td> NY</td></tr>
<tr><td>Sears</td><td> 1 N Galleria Dr</td><td> Middletown</td><td> NY</td></tr>
<tr><td>Kmart</td><td> 4645 Commercial Drive</td><td> New Hartford</td><td> NY</td></tr>
<tr><td>Sears</td><td> 9605 Queens Blvd</td><td> Rego Park</td><td> NY</td></tr>
<tr><td>Sears</td><td> 1901 S Yale Ave</td><td> Tulsa</td><td> OK</td></tr>
<tr><td>Sears</td><td> 3245 E State St</td><td> Hermitage</td><td> PA</td></tr>
<tr><td>Sears</td><td> 18600 Alderwood Mall Pkwy</td><td> Lynnwood</td><td> WA</td></tr>
<tr><td>Kmart</td><td> 5132 6th Ave</td><td> Tacoma</td><td> WA</td></tr>
<tr><td>Sears</td><td> 225 Meadowbrook Road</td><td> Bridgeport</td><td> WV</td></tr>
<tr><td>Sears</td><td> Towne Center Mall</td><td> Charleston</td><td> WV</td></tr>
<tr><td>Kmart</td><td> 731 Beverly Pike</td><td> Elkins</td><td> WV</td></tr>
<tr><td>Kmart</td><td> 1050 Division Street</td><td> Parkersburg</td><td> WV</td></tr>
<tr><td>Kmart</td><td> 250 Three Springs Drive</td><td> Weirton</td><td> WV</td></tr>
</table>
