<h1>Kmart / Sears Store Closures<br>Announced 02/05/2020</h1>
<table border="1" width="100%">
<tr><th>Format</th><th>Address</th><th>City</th><th>State</th></tr>

<tr><td>Sears</td><td>112 Eisenhower Parkway</td><td>Livingston</td><td>NJ</td></tr>
<tr><td>Sears</td><td>400 NJ-38</td><td>Moorestown</td><td>NJ</td></tr>
<tr><td>Sears</td><td>51 US-1</td><td>New Brunswick</td><td>NJ</td></tr>
<tr><td>Sears</td><td>150 Woodbridge Center Court</td><td>Woodbridge</td><td>NJ</td></tr>

</table>
