<h1>Kmart / Sears Store Closures<br>Announced 05/29/2020</h1>
<table border="1" width="100%">
<tr><th>Format</th><th>Address</th><th>City</th><th>State</th></tr>


<tr><td>Kmart</td><td>1 20th Ave SE</td><td>Minot</td><td>ND</td></tr>
<tr><td>Kmart</td><td>NH-12A</td><td>West Lebanon</td><td>NH</td></tr>

</table>
