<h1>Kmart / Sears Store Closures<br>Announced 06/16/2020</h1>
<table border="1" width="100%">
<tr><th>Format</th><th>Address</th><th>City</th><th>State</th></tr>


<tr><td>Kmart</td><td>1500 Anna Sparks Way</td><td>McKinleyville</td><td>CA</td></tr>
<tr><td>Kmart</td><td>1855 Main Street</td><td>Ramona</td><td>CA</td></tr>
<tr><td>Kmart</td><td>3255 Solomons Island Road</td><td>Edgewater</td><td>MD</td></tr>
<tr><td>Sears</td><td>400 Maine Mall Road</td><td>South Portland</td><td>ME</td></tr>
<tr><td>Kmart</td><td>3975 Columbia Avenue</td><td>Columbia</td><td>PA</td></tr>
<tr><td>Kmart</td><td>400 N Best Avenue</td><td>Walnutport</td><td>PA</td></tr>
<tr><td>Kmart</td><td>PR-20</td><td>Guaynabo</td><td>PR</td></tr>
<tr><td>Kmart</td><td>2643 Ponce Bypass</td><td>Ponce</td><td>PR</td></tr>

</table>
