<h1>Kmart / Sears Store Closures<br>Announced 11/10/2020</h1>
<table border="1" width="100%">
<tr><th>Format</th><th>Address</th><th>City</th><th>State</th></tr>

<tr><td>Sears</td><td>190 Buckland Hills Drive</td><td>Manchester</td><td>CT</td></tr>
<tr><td>Sears</td><td>7900 Ritchie Highway</td><td>Glen Burnie</td><td>MD</td></tr>
<tr><td>Sears</td><td>3700 RiverTown Parkway</td><td>Grandville</td><td>MI</td></tr>
<tr><td>Sears</td><td>1480 Concord Parkway N</td><td>Concord</td><td>NC</td></tr>
<tr><td>Sears</td><td>100 Main Street</td><td>White Plains</td><td>NY</td></tr>
<tr><td>Sears</td><td>1200 Coastal Grand Circle</td><td>Myrtle Beach</td><td>SC</td></tr>
<tr><td>Sears</td><td>999 Pasadena Boulevard</td><td>Pasadena</td><td>TX</td></tr>

</table>
