<h1>Kmart / Sears Store Closures<br>Announced 12/07/2020</h1>
<table border="1" width="100%">
<tr><th>Format</th><th>Address</th><th>City</th><th>State</th></tr>


<tr><td>Kmart</td><td>42126 Big Bear Boulevard</td><td>Big Bear Lake</td><td>CA</td></tr>
<tr><td>Kmart</td><td>PR-167</td><td>Bayamon</td><td>PR</td></tr>
<tr><td>Kmart</td><td>2765 Ave Hostos</td><td>Mayaguez</td><td>PR</td></tr>

</table>
