<h1>Kmart / Sears Store Closures<br>Announced 12/27/2020</h1>
<table border="1" width="100%">
<tr><th>Format</th><th>Address</th><th>City</th><th>State</th></tr>

<tr><td>Sears</td><td>400 Betances Avenue</td><td>Caguas</td><td>PR</td></tr>
<tr><td>Sears</td><td>Sabana Abajo</td><td>Carolina</td><td>PR</td></tr>

</table>
