<h1>Kmart / Sears Store Closures<br>Announced Independently (2020)</h1>
<table border="1" width="100%">
<tr><th>Announced</th><th>Format</th><th>Address</th><th>City</th><th>State</th></tr>

<tr><td>01/08/2020</td><td>Kmart</td><td>803 Male Road</td><td>Wind Gap</td><td>PA</td></tr>
<tr><td>01/12/2020</td><td>Kmart</td><td>200 Avenue Rafael Cordero</td><td>Caguas</td><td>PR</td></tr>
<tr><td>01/23/2020</td><td>Sears</td><td>236 N Central Avenue</td><td>Glendale</td><td>CA</td></tr>
<tr><td>03/05/2020</td><td>Kmart</td><td>10 W Lake Street</td><td>Minneapolis</td><td>MN</td></tr>
<tr><td>06/29/2020</td><td>Sears</td><td>301 Mt Hope Avenue</td><td>Rockaway</td><td>NJ</td></tr>
<tr><td>06/30/2020</td><td>Sears</td><td>436 Main Street</td><td>Hackensack</td><td>NJ</td></tr>

</table>
