<h1>Kmart / Sears Store Closures<br>Announced 01/28/2021</h1>
<table border="1" width="100%">
<tr><th>Format</th><th>Address</th><th>City</th><th>State</th></tr>

<tr><td>Sears</td><td>2650 E Olympic Boulevard</td><td>Boyle Heights</td><td>CA</td></tr>
<tr><td>Sears</td><td>1140 Shaw Avenue</td><td>Clovis</td><td>CA</td></tr>
<tr><td>Kmart</td><td>2900 N Bellflower Boulevard</td><td>Long Beach</td><td>CA</td></tr>
<tr><td>Sears</td><td>2100 N Tustin Street</td><td>Orange</td><td>CA</td></tr>
<tr><td>Sears</td><td>1601 Arden Way</td><td>Sacramento</td><td>CA</td></tr>
<tr><td>Sears</td><td>686 Brandon Town Center Mall</td><td>Brandon</td><td>FL</tr>
<tr><td>Sears</td><td>98-180 Kamehameha Highway</td><td>Aiea</td><td>HI</td></tr>
<tr><td>Sears</td><td>111 E Puainako Street</td><td>Hilo</td><td>HI</td></tr>
<tr><td>Kmart</td><td>768 Iyannough Road</td><td>Hyannis</td><td>MA</td></tr>
<tr><td>Sears</td><td>1009 S Washington Street</td><td>North Attleboro</td><td>MA</td></tr>
<tr><td>Kmart</td><td>14014 Connecticut Avenue</td><td>Silver Spring</td><td>MD</td></tr>
<tr><td>Sears</td><td>11255 New Hampshire Avenue</td><td>Silver Spring</td><td>MD</td></tr>
<tr><td>Kmart</td><td>411 Main Street</td><td>Belleville</td><td>NJ</td></tr>
<tr><td>Sears</td><td>1150 Sunrise Highway</td><td>Valley Stream</td><td>NY</td></tr>
<tr><td>Kmart</td><td>18 Mark Plaza</td><td>Kingston</td><td>PA</td></tr>
<tr><td>Kmart</td><td>2600 N. Willow Street Pike</td><td>Willow Street</td><td>PA</td></tr>
<tr><td>Sears</td><td>506 Calle Truncado</td><td>Hatillo</td><td>PR</td></tr>
<tr><td>Sears</td><td>975 Hostos Avenue</td><td>Mayaguez</td><td>PR</td></tr>
<tr><td>Kmart</td><td>9410 Avenue Los Rome</td><td>Rio Piedras</td><td>PR</td></tr>
<tr><td>Sears</td><td>3000 Town East Mall</td><td>Mesquite</td><td>TX</td></tr>
<tr><td>Sears</td><td>21000 Dulles Town Circle</td><td>Dulles</td><td>VA</td></tr>

</table>
