<h1>Kmart / Sears Store Closures<br>Announced 02/12/2021</h1>
<table border="1" width="100%">
<tr><th>Format</th><th>Address</th><th>City</th><th>State</th></tr>

<tr><td>Sears</td><td>2100 N Bellflower Boulevard</td><td>Long Beach</td><td>CA</td></tr>
<tr><td>Sears Grand</td><td>16395 Washington Street</td><td>Thornton</td><td>CO</td></tr>
<tr><td>Sears</td><td>6501 95th Street</td><td>Chicago Ridge</td><td>IL</td></tr>
<tr><td>Sears</td><td>6501 Bluebonnet Boulevard</td><td>Baton Rouge</td><td>LA</td></tr>
<tr><td>Sears</td><td>777 E Merritt Island Causeway</td><td>Merritt Island</td><td>FL</td></tr>
<tr><td>Sears</td><td>521 Donald Lynch Boulevard</td><td>Marlborough</td><td>MA</td></tr>
<tr><td>Kmart</td><td>200 Passaic Avenue</td><td>Kearny</td><td>NJ</td></tr>

</table>
