<h1>Kmart / Sears Store Closures<br>Announced 03/26/2021</h1>
<table border="1" width="100%">
<tr><th>Format</th><th>Address</th><th>City</th><th>State</th></tr>

<tr><td>Sears Grand</td><td>8250 Day Creek Boulevard</td><td>Rancho Cucamonga</td><td>CA</td></tr>
<tr><td>Kmart</td><td>101499 Overseas Highway</td><td>Key Largo</td><td>FL</td></tr>
<tr><td>Kmart</td><td>5561 Overseas Highway</td><td>Marathon</td><td>FL</td></tr>

</table>
